body,html{
    background-image: url(../backgrounds/bg.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    animation-name: blur;
    animation-duration: 8s;
    
}

@keyframes blur{
    from{ background-image: url(../backgrounds/bg.jpg);}
    to{ background-image: url(../backgrounds/bgTwo.jpg);}
}

.both{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  
}

.logo{
    display: flex;
    justify-content: flex-start;
}
@media only screen and (max-width: 7000px){
.logoImg{
    height:120px;
    margin-left: 30px;
}
}

.contact{
    display: flex;
    justify-content: flex-end;
}
.hous{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    padding-bottom: 20px;
}
.house{
    height:80px;
}
@media only screen and (max-width: 7000px){
.fb{
    height:40px;
    padding-right: 20px;
}
.ln{
    height:40px;
    padding-right: 20px;
}
.in{
    height:40px;
    padding-right: 20px;
}
}

@media only screen and (max-width: 768px){
    .fb{
        height:20px;
        padding-right: 20px;
    }
    .ln{
        height:20px;
        padding-right: 20px;
    }
    .in{
        height:20px;
        padding-right: 20px;
    }
    .hous{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        
    }
    .house{
        height:40px;

    }
    }

    @media only screen and (max-width: 768px){
        .logoImg{
            height:80px;
            margin-left: 30px;
        }
    }

    @media only screen and (max-width: 1072px){
        .hous{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            padding-bottom:10px;
        }
        .house{
            height:60px;
    
        }
    }