.main{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
@media only screen and (max-width:7000px){
.box{
    background-color: #dddddd;
    width: 800px;
    border-radius: 10px;
    padding-bottom: 20px;

}
.img{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.myImg{
    height:150px;
   border-radius:100%;
}

.newCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}
.cards{
    margin-top: 20px;
}
}
@media only screen and (max-width: 1072px){
    .box{
        background-color:  #dddddd;
        width: 700px;
        border-radius: 10px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
    .img{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    
    }
    .myImg{
        height:150px;
       border-radius:100%;
    }
    .newCards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px;
    }
    .cards{
        margin-top: 20px;
    }

    }

    @media only screen and (max-width: 768px){
        .box{
            background-color:  #dddddd;
            width: 300px;
            border-radius: 10px;
            padding-bottom: 20px;
            margin-top: 20px;
        }
        .img{
            display: flex;
            justify-content: center;
            margin-top: 10px;
        
        }
        .myImg{
            height:80px;
           border-radius:100%;
        }

        }
    